/*l-section-first*/
a[class*="h-menu-link"] {
    transition: all .3s linear;
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
    color: #efefef;
}

.h-menu-link1:hover,
.is-navbar-threshold .h-menu-link1,
.is-reason1,
.card-1 .card-title,
.card-5 .card-title,
.info-link-1:hover,
.eye-catches-4,
.c-heading-about-us {
    color: #f56c71;
}

.h-menu-link2:hover,
.is-navbar-threshold .h-menu-link2,
.is-reason2,
.card-2 .card-title,
.card-6 .card-title,
.info-link-2:hover,
.eye-catches-2,
.c-contact-us {
    color: #ffb516;
}

.h-menu-link3:hover,
.is-navbar-threshold .h-menu-link3,
.is-reason3,
.card-3 .card-title,
.card-7 .card-title,
.info-link-3:hover,
.eye-catches-3,
.c-heading-info-footer {
    color: #34be5e;
}

.h-menu-link4:hover,
.is-navbar-threshold .h-menu-link4,
.card-4 .card-title,
.info-link-4:hover,
.eye-catches-1 {
    color: #1c74b2;
}

.navbar-brand {
    display: flex;
    width: 150px;
    height: 150px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.c-navbar {
    justify-content: flex-end;
}

.is-navbar-threshold {
    width: 100vw;
    height: 10vh;
    opacity: .8;
    background-color: #000;
}

.is-navbar-threshold .h-collapse-navbar {
    justify-content: flex-end;
}

.is-navbar-threshold a[class*="h-menu-link"] {
    font-size: 1.5rem;
}

.is-navbar-threshold .h-logo-icon:before {
    font-size: 2rem;
}


.is-intro-text-start {
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 8px;
    position: relative;
    animation: text 3s 1;
    display: block;
}

@keyframes text {
    0% {
        color: transparent;
    }

    30% {
        letter-spacing: 15px;
    }

    85% {
        letter-spacing: 8px;
    }
}

.is-intro-text-end {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 8px;
    animation: fadeIn 8s 1;
}


@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.is-intro-text-end {
    animation: fadeIn 12s 1;
}

.h-logo-icon:before {
    color: #efefef;
    font-size: 4rem;
}

/*l-section-second*/
.c-product-benefits-title,
.c-smoothie-delight-series-title,
.c-smoothie-delight-newsletter-section {
    padding: 0 65px;
    margin-bottom: 50px;
}

span[class*="eye-catches"] {
    font-weight: 700;
}

.swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.swiper-slide .title,
.swiper-slide .text,
.swiper-slide .subtitle {
    color: #000;
    text-align: left;
}

.swiper-slide .text {
    line-height: 1.3;
}

.swiper-slide .subtitle {
    font-weight: 700;
}

.swiper-slide .title {
    border-bottom: 1px solid #787878;
    font-weight: 700;
    text-transform: uppercase;
}

.swiper-pagination {
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin: 0 10px;
}

/*l-section-third*/
.card .card-text,
.c-address-container,
.c-info-footer-list,
.c-socials {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card__side--front .card-title {
    text-transform: uppercase;
    font-weight: 700;
}

.card__side--front {
    background-color: #fff;
    text-align: center;
}

.card__side--back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-repeat: no-repeat;
    background-position: center;
}

.card__side--back-1 {
    background-image: url(../img/D_S6.jpg);
}

.card__side--back-2 {
    background-image: url(../img/D_S3.jpg);
}

.card__side--back-3 {
    background-image: url(../img/D_S4.jpg);
}

.card__side--back-4 {
    background-image: url(../img/D_S7.jpg);
}

.card__side--back-5 {
    background-image: url(../img/D_S2.jpg);
}

.card__side--back-6 {
    background-image: url(../img/D_S1.jpg);
}

.card__side--back-7 {
    background-image: url(../img/D_S5.jpg);
}

.card:hover .card__side--front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card:hover .card__side--back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

/*l-section-fifth*/
.email-box {
    display: flex;
    justify-content: center;
}

.email-box span {
    width: 40px;
}

.h-email-box, .h-newsletter-btn {
    outline: none;
    border: none;
}

.h-email-box {
    width: 0;
    transition: .6s;
}

.email-box:hover > .h-email-box, .h-email-box:focus {
    width: 260px;
    padding: 0 10px;
}

.h-newsletter-btn {
    background-color: #000;
    color: #fff;
    padding: 0 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.address-container {
    flex-direction: column;
}

.c-about-us-info {
    padding: 30px;
}

.c-contact-us-info,
.c-optional-info {
    padding: 30px;
}

a[class*="info-link"] {
    color: #000;
}

.c-socials {
    display: flex;
    justify-content: center;
}

.c-soc-icon {
    padding: 0 10px;
}

.footer-end {
    text-align: center;
    margin: 15px auto;
}
