/*l-section-first*/
a[class*="h-menu-link"] {
    transition: all .3s linear;
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
    color: #efefef;
}

.h-menu-link1:hover {
    color: #f56c71;
}

.h-menu-link2:hover {
    color: #f8ff5f;
}

.h-menu-link3:hover {
    color: #28a745;
}

.h-menu-link4:hover {
    color: #1c74b2;
}

.navbar-brand {
    display: flex;
    width: 150px;
    height: 150px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.h-logo-icon:before {
    font-size: 4rem;
    color: #efefef;
}

.h-logo-icon:hover:before {
    content: 'Did somebody \A say smoothie...?';
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    white-space: pre-wrap;
    color: #e83e8c;
}

.c-navbar {
    justify-content: flex-end;
}

/*l-section-second*/
.c-product-benefits-title,
.c-smoothie-delight-newsletter-section {
    padding: 0 65px;
}

/*l-section-third*/
.card-1 .card-title,
.card-5 .card-title {
    color: #FF3D44;
}

.card-2 .card-title,
.card-6 .card-title {
    color: #f8ff5f;
}

.card-3 .card-title,
.card-7 .card-title {
    color: #44be19;
}

.card-4 .card-title {
    color: #1c74b2;
}

.card .card-text,
.address-container,
.c-socials {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*l-section-fourth*/
.address-container {
    display: flex;
}

.email-box .btn {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
    height: calc(3rem + 2px);
    border: 1px solid #fff;
}

/*l-section-fifth*/
.email-box {
    display: flex;
    justify-content: center;
    transition: all .6s;
}

.email-box:hover > .h-mail-box, .h-mail-box:focus {
    width: 260px;
    padding: 0 10px;
}

.h-mail-box {
    width: 0;
    border: 0;
}

.h-newsletter-btn {
    text-transform: uppercase;
}

.footer-block-about-us {
    padding: 15px 50px;
    display: flex;
    justify-content: center;
}

.c-socials {
    display: flex;
    justify-content: center;
}

.c-soc-icon {
    padding: 0 10px;
}

.address-item {
    padding: 0 15px;
}

.footer-end {
    align-items: center;
    justify-content: center;
}
