@media (min-width: 320px) and (max-width: 768px) {
    /*l-section-first*/
    .l-header {
        width: 100vw;
        display: flex;
    }

    .navbar-collapse {
        padding: 0;
    }

    .c-navbar .h-menu-btn {
        font-size: 4rem;
        color: #efefef;
    }

    .c-navbar {
        width: 100vw;
        justify-content: space-between;
    }

    .navbar-brand {
        width: auto;
        height: auto;
    }

    .is-navbar-threshold {
        height: 15vh;
    }

    .is-navbar-threshold .navbar-brand {
        position: absolute;
    }

    .is-navbar-threshold .h-menu-btn {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 2.3rem;
    }

    .navbar-nav {
        margin-top: 30px;
    }

    .navbar-nav .nav-link {
        font-size: 1rem;
        padding-bottom: 5px;
        background-color: #000;
    }

    .introduction {
        width: 90vw;
        top: 71%;
        font-size: 1rem;
    }

    /*l-section-second*/
    .l-section-second,
    .l-section-third {
        margin-top: 15px;
    }

    .c-product-benefits-title,
    .c-smoothie-delight-series-title,
    .c-smoothie-delight-newsletter-section {
        padding: 0 15px;
        margin: 0;
    }

    .l-section-second {
        margin-top: 0;
    }

    .swiper-slide {
        padding: 0;
    }

    .swiper-slide .title {
        font-size: 1.3rem;
        font-weight: 700;
        border-bottom: none;
    }

    .subtitle, .swiper-slide .text {
        display: none;
    }
    /*l-section-third*/
    .card {
        height: 240px;
    }

    .card__side--front {
        text-align: center;
        background-color: #000;
        color: #efefef;
        opacity: .9;
    }
    /*l-section-fourth*/
    .newsletter {
        text-align: center;
    }

    .email-box {
        margin: 5px 0;
    }

    .email-box:hover > .h-mail-box, .h-mail-box:focus {
        width: 145px;
    }
    /*l-section-fifth*/
    .footer-block-about-us {
        padding: 15px 10px;
    }

    .address-container {
        display: block;
        text-align: center;
    }

}
